$light: white;
$dark:#282c34;
$color: #6dd4fc;
$color2: #227d9e;
$max_width: 1000px;



body{
  background-color: $dark;
  color: $light;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.content{
  max-width: $max_width;
  margin-left: auto;
  margin-right: auto;

  &__post{
    background: $light;
    color: $dark;
    min-height: 200px;
    margin: 30px;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    header{
      font-weight: bold;
    }
    
    p{
      max-width: 700px;
      text-align: justify;
    }
  }

  article:nth-child(odd) div{
    flex-direction: row-reverse;
  }
}



.nav{
  padding: 10px;
  height: 50px;
  background-color: $color;
  position: sticky;
  top: 0;


  &__years{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    line-height: 300%;
    display: flex;
    justify-content: center;
    
    li a{
      color: $dark;
      text-decoration: none;
      display: block;
      min-width: 110px;
      border-left: 1px dashed $dark; 
    }
    
    li:last-child a{
      border-right: 1px dashed $dark;    
    }
    
    li:hover{
      background-color: $color2;
      a:hover {
        color: $light;
      }
      
      ul{
        display: block; 
      }
    }
    
    &__months{
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: none;

      a {
        height: 40px;
      }
      
      li{
        background-color: $color2;
        position: relative;
        border-top: 1px dashed $dark;
      }
    }
  }
}

footer{
  width: 100%;
  a{
    color: $light;
    text-decoration: none;
    display: block;
  }
}

.socials{
  max-width: $max_width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tile{
  width: 25%;
  height: 15vw;
  max-height: 155px;
  position: relative;

  
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: calc(4vw + 2em);
  }

  &--fb:hover{
    background-color: #3b5998;
  }
  &--yt:hover{
    background-color: #c4302b;
  }
  &--tw:hover{
    background-color: #00acee;
  }
  &--in:hover{
    background: linear-gradient(45deg, #fed225 15%,#f0000d,#ba03b3);
  }
}

@media (min-width: 768px) {
  .content{  
    &__post{
       display: flex;
    }
  }  
}
